# Any directory starting with a dot
**/\.*/
# Except .github
!.github/

# Everything in inputs/ and outputs/
inputs/*
outputs/*

# Misc
**/.DS_Store
**/__pycache__
venv/
OMRChecker.wiki/

# Python cache
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Environments
.env
.venv/
venv/

# Build artifacts
build/
dist/
*.log

# IDE files
.vscode/
.idea/
